# gitignore template for Drupal 8 projects
#
# earlier versions of Drupal are tracked in `community/PHP/`

# Ignore paths that may contain user-generated content
docroot/sites/*/files
docroot/sites/*/public
docroot/sites/*/private
docroot/sites/*/files-public
docroot/sites/*/files-private

# Ignore paths that may contain temporary files
docroot/sites/*/translations
docroot/sites/*/tmp
docroot/sites/*/cache

# Ignore testing related files
docroot/sites/simpletest

# Ignore drupal core (if not versioning drupal sources)
docroot/core
docroot/modules/README.txt
docroot/profiles/README.txt
docroot/sites/README.txt
docroot/sites/example.sites.php
docroot/sites/example.settings.local.php
docroot/sites/development.services.yml
docroot/themes/README.txt
/vendor
docroot/.csslintrc
.editorconfig
docroot/.eslintignore
docroot/.eslintrc.json
docroot/.gitattributes
docroot/.htaccess
docroot/autoload.php
docroot/example.gitignore
docroot/index.php
docroot/LICENSE.txt
docroot/README.txt
docroot/robots.txt
docroot/update.php
docroot/web.config
local.settings.php
local.drush.yml
local.site.yml
local.services.yml
*.local
local.blt.yml
deployment_identifier
/travis_wait*
/files-private
.phpcs-cache
